# 4.6 - Part 1: Combining and Exporting Data

## This script includes the following points:

1. Importing data
2. Merging Dataframe
3. Exporting Dataframe

# 01. Importing Data

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# defining a path

path = r'/Users/robson/Desktop/CareerFoundry/Data Immersion/Achivement 4/19-04-2024 Instacart Basket Analysis'

In [3]:
# importing the new data set into a new dataframe

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'original_data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# importing checked orders data set

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared_data', 'orders_checked.csv'), index_col = False)

# 02. Merging Dataframe

In [5]:
# drop unnamed columns - unnecessary for the analysis since they only copy the index function 

df_ords.drop(columns = ['Unnamed: 0','Unnamed: 0.1'], inplace = True)

In [6]:
# check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# check the output

df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [8]:
# Check dimension of the new dataframe

df_ords_prior.shape

(32434489, 4)

In [9]:
# Check dimension of the ords dataframe

df_ords.shape

(3421083, 7)

In [10]:
# merging both dataframes on order_id

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
# check if the merge was successful 

df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [12]:
# check the _merge value counts to see if the merge was in both columns 

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
# check number of columns and rows

df_merged_large.shape

(32434489, 11)

# 03. Exporting Data

In [14]:
# exporting data in pickle version

df_merged_large.to_pickle(os.path.join(path, '02 Data','prepared_data', 'orders_products_combined.pkl'))